<a href="https://colab.research.google.com/github/pradeep-0918/Restaurant_Restaurant_Recommendation_Based_on_Content_Filtering_Method/blob/main/Restaurant_Restaurant_Recommendation_Based_on_Content_Filtering_Method.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task 2: ***Restaurant Restaurant Recommendation Based on Content Filtering Method***

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv("/content/Dataset .csv")
print("Dataset is loaded Successfully")

Dataset is loaded Successfully

In [ ]:
print("Handling Missing Values")
df.isnull().sum()

Handling Missing Values

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [ ]:
print("Fill missing Value using by taking mode()")
df['Cuisines'] = df['Cuisines'].fillna(df['Cuisines'].mode()[0])
df.isnull().sum()

Fill missing Value using by taking mode()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                0
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [ ]:
columns_needed = ['Restaurant Name', 'Cuisines', 'Average Cost for two', 'Aggregate rating', 'City', 'Country Code']
df = df[columns_needed]

In [ ]:
print("Encoding Categorical into Numerical")
df_encoded = pd.get_dummies(df, columns=['Cuisines', 'City'])
df_encoded

Encoding Categorical into Numerical

,Restaurant Name,Average Cost for two,Aggregate rating,Country Code,Cuisines_Afghani,"Cuisines_Afghani, Mughlai, Chinese","Cuisines_Afghani, North Indian","Cuisines_Afghani, North Indian, Pakistani, Arabian",Cuisines_African,"Cuisines_African, Portuguese",...,City_Vernonia,City_Victor Harbor,City_Vineland Station,City_Vizag,City_Waterloo,City_Weirton,City_Wellington City,City_Winchester Bay,City_Yorkton,City_��stanbul
0,Le Petit Souffle,1100,4.8,162,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,Izakaya Kikufuji,1200,4.5,162,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Heat - Edsa Shangri-La,4000,4.4,162,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Ooma,1500,4.9,162,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Sambo Kojin,1500,4.8,162,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,Naml۱ Gurme,80,4.1,208,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
9547,Ceviz A��ac۱,105,4.2,208,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
9548,Huqqa,170,3.7,208,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
9549,A���k Kahve,120,4.0,208,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
9550,Walter's Coffee Roastery,55,4.0,208,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [ ]:
print("Processed Dataset:")
print(df_encoded.head())

Processed Dataset:
          Restaurant Name  Average Cost for two  Aggregate rating  \
0        Le Petit Souffle                  1100               4.8
1        Izakaya Kikufuji                  1200               4.5
2  Heat - Edsa Shangri-La                  4000               4.4
3                    Ooma                  1500               4.9
4             Sambo Kojin                  1500               4.8

   Country Code  Cuisines_Afghani  Cuisines_Afghani, Mughlai, Chinese  \
0           162             False                               False
1           162             False                               False
2           162             False                               False
3           162             False                               False
4           162             False                               False

   Cuisines_Afghani, North Indian  \
0                           False
1                           False
2                           False
3                           False
4                           False

   Cuisines_Afghani, North Indian, Pakistani, Arabian  Cuisines_African  \
0                                              False              False
1                                              False              False
2                                              False              False
3                                              False              False
4                                              False              False

   Cuisines_African, Portuguese  ...  City_Vernonia  City_Victor Harbor  \
0                         False  ...          False               False
1                         False  ...          False               False
2                         False  ...          False               False
3                         False  ...          False               False
4                         False  ...          False               False

   City_Vineland Station  City_Vizag  City_Waterloo  City_Weirton  \
0                  False       False          False         False
1                  False       False          False         False
2                  False       False          False         False
3                  False       False          False         False
4                  False       False          False         False

   City_Wellington City  City_Winchester Bay  City_Yorkton  City_��stanbul
0                 False                False         False           False
1                 False                False         False           False
2                 False                False         False           False
3                 False                False         False           False
4                 False                False         False           False

[5 rows x 1970 columns]

In [ ]:
print("Defining User Preferences.")
user_cuisine = input("Enter your preferred cuisine (e.g., Italian, North Indian): ").strip()
user_budget = float(input("Enter your maximum budget for two (e.g., 500): "))
user_location = input("Enter preferred location (optional - press Enter to skip): ").strip()

Defining User Preferences.
Enter your preferred cuisine (e.g., Italian, North Indian): North Indian
Enter your maximum budget for two (e.g., 500): 500
Enter preferred location (optional - press Enter to skip): Anna Nagar

In [ ]:
print("Creates a blank DataFrame with same columns and adding '0' to the dataframe")
user_pref = df_encoded.iloc[0:0].copy()
user_pref.loc[0] = 0

Creates a blank DataFrame with same columns and adding '0' to the dataframe

In [ ]:
print("Checking given user_Cuisine is present in dataset/not")
cuisine_col = f'Cuisines_{user_cuisine}'
if cuisine_col in user_pref.columns:
    user_pref[cuisine_col] = 1
else:
    print(f" Cuisine '{user_cuisine}' not found in dataset.")

Checking given user_Cuisine is present in dataset/not

In [ ]:
print("Checking given user_location is present in dataset/not")
if user_location:
    location_col = f'Location_{user_location}'
    if location_col in user_pref.columns:
        user_pref[location_col] = 1
    else:
        print(f" Location '{user_location}' not found in dataset.")

Checking given user_location is present in dataset/not
 Location 'Anna Nagar' not found in dataset.

In [ ]:
user_pref['Average Cost for two'] = user_budget

In [ ]:
!pip install cosine_similarity

Requirement already satisfied: cosine_similarity in /usr/local/lib/python3.11/dist-packages (0.1.2)

In [ ]:
print("similar the restaurant is to the user's preferences")
from sklearn.metrics.pairwise import cosine_similarity
restaurant_names = df['Restaurant Name']
df_features = df_encoded.drop(['Restaurant Name', 'Aggregate rating'], axis=1)
user_vector = user_pref[df_features.columns]

similarities = cosine_similarity(df_features, user_vector)
df['Similarity Score'] = similarities

similar the restaurant is to the user's preferences

In [ ]:
top_matches = df.sort_values(by='Similarity Score', ascending=False)

In [ ]:
print("\n Top 5 Recommended Restaurants:")
print(top_matches[['Restaurant Name', 'Cuisines', 'Average Cost for two', 'Aggregate rating', 'City', 'Similarity Score']].head(5))

 Top 5 Recommended Restaurants:
                              Restaurant Name      Cuisines  \
2289                          Barbeque Nation  North Indian
1851                        Punjabi by Nature  North Indian
2490                                SpiceKlub  North Indian
6145                                 Havemore  North Indian
6433  Ghungroo Club & Bar - By Gautam Gambhir  North Indian

      Average Cost for two  Aggregate rating       City  Similarity Score
2289                  1500               4.9   Guwahati          0.999999
1851                  1500               3.6    Gurgaon          0.999999
2490                  1500               4.2     Mumbai          0.999999
6145                  1500               4.1  New Delhi          0.999999
6433                  1500               3.8  New Delhi          0.999999